<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiu.mapper.UserMapper">
    <select id="findAll" resultType="com.qiu.entity.User">
        SELECT * FROM user
    </select>
    <update id="update" parameterType="com.qiu.entity.User">
        UPDATE user SET name = #{name},age=#{age} WHERE id=#{id}
    </update>
    <insert id="insert" parameterType="com.qiu.entity.User">
        INSERT INTO user(name,age) VALUES (#{name},#{age})
    </insert>
    <delete id="deleteById" parameterType="java.lang.Integer">
        DELETE FROM user WHERE id=#{id}
    </delete>
</mapper>